{% extends 'partials/Base.twig' %}

{% block title %}À propos de FindMe{% endblock title %}



{% block body %}
<div class="container">
    <div  style=" height: 40px" class="card border-0"></div>
    <div  class="container mt-3">
        <div style="background-color: #9FB4C7" class="card border-dark shadow border-0" >
            <div style="background-color: #9FB4C7" class="card mt-3 mb-3 me-3 ms-3  border-0 ">
                <div class="row  ">
                    <div class="col">
                        <div class="card shadow  mt-1 mb-1">
                            <div class="card-body">
                                <h1 class="text-center mb-4">À propos de FindMe</h1>

                                <p>Bienvenue sur FindMe, l'application révolutionnaire dédiée à simplifier votre recherche de stage. Notre histoire commence avec la vision de connecter les étudiants talentueux aux opportunités de stage qui correspondent parfaitement à leurs aspirations et compétences.</p>

                                <h2>La Genèse</h2>
                                <p>FindMe a été fondée en [année de fondation] par un groupe d'étudiants passionnés qui ont ressenti le besoin pressant de créer un pont entre les entreprises à la recherche de talents et les étudiants ambitieux cherchant des opportunités de stage significatives. Inspirés par leurs propres défis lors de la recherche de stages, ils ont entrepris de créer une solution innovante qui faciliterait le processus pour tous.</p>

                                <h2>Notre Mission</h2>
                                <p>Notre mission chez FindMe est simple mais puissante : offrir une plateforme conviviale, intelligente et efficace qui permet aux étudiants de découvrir des stages pertinents et aux entreprises de trouver les stagiaires idéaux. Nous voulons éliminer les obstacles qui entravent souvent la recherche de stage, offrant ainsi aux étudiants la possibilité de développer leurs compétences et aux entreprises la chance de cultiver le talent de demain.</p>

                                <h2>L'Évolution</h2>
                                <p>Depuis nos débuts modestes, FindMe a connu une croissance rapide. Grâce à une équipe dévouée d'ingénieurs, de designers et de professionnels de la communication, nous avons constamment amélioré notre plateforme pour offrir une expérience utilisateur exceptionnelle. Nous collaborons également étroitement avec des entreprises de toutes tailles, des start-ups innovantes aux grandes entreprises, pour élargir notre réseau de stages et garantir des opportunités diversifiées pour nos utilisateurs.</p>

                                <h2>Notre Engagement envers l'Éducation</h2>
                                <p>Chez FindMe, nous croyons en la puissance de l'éducation et en son rôle dans la création d'un avenir prometteur. Nous collaborons avec des établissements d'enseignement supérieur pour comprendre les besoins spécifiques des étudiants et pour adapter continuellement notre plateforme afin de répondre à ces besoins.</p>

                                <h2>Rejoignez la Communauté FindMe</h2>
                                <p>Nous invitons tous les étudiants et les entreprises à rejoindre la communauté FindMe. Que vous soyez à la recherche d'un stage ou que vous souhaitiez offrir une opportunité, FindMe est là pour faciliter la connexion.</p>

                                <p>Merci de faire partie de notre histoire chez FindMe, où nous croyons que chaque étudiant mérite de trouver un stage qui les inspire et les propulse vers un avenir brillant.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  style=" height: 40px" class="card border-0"></div>
</div>
{% endblock body %}