{% macro content() %}
    <div class="accordion" id="accordionExample">
        <div class="container accordion-item">
            <h2 class="accordion-header border">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-auto">
                                <img class="custom-image" src="/Bootstrap/images/tiktok.png" alt="TikTok">
                            </div>
                            <div class="col-md-auto">
                                Stage - Ingénieur Software (H/F)<br/>
                                Groupe tiktok<br/>
                                Le Plessis-Robinson , Ile-de-France , France<br/>
                            </div>
                        </div>
                    </div>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body row">
                    <div class="accordion-body col-7">
                        <strong>Compétences requises : </strong>JavaScript, Php, C#
                    </div>
                    <div class="accordion-body col-5 text-end">
                        <script src="/Script/Heart.js"></script>
                        <img class="img-fluid" src="/Bootstrap/images/bx-heart.svg" id="heart"
                             onclick="toggleHeart(event, heart)">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nom</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nom">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Prénom</label>
                        <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="Prénom">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Adresse email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput3"
                               placeholder="nom@exemple.com">
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Insérer un CV</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Lettre de motivation</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <button type="button" style="background-color:#28587B;" class="btn btn-outline-light">
                                    Annuler
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" style="background-color:#28587B;" class="btn btn-outline-light">
                                    Postuler
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endmacro %}