{% extends 'partials/Base.twig' %}

{% block title %}Politique de confidentialité{% endblock title %}



{% block body %}
<div  style=" height: 40px" class="card border-0"></div>
<div class="container">
    <div  class="container mt-3">
        <div style="background-color: #9FB4C7" class="card border-dark shadow border-0" >
            <div style="background-color: #9FB4C7" class="card mt-3 mb-3 me-3 ms-3  border-0 ">
                <div class="row  ">
                    <div class="col">
                        <div class="card shadow  mt-1 mb-1">
                            <div class="card-body">
                                <h2 class="card-title text-center">Politique de confidentialité</h2>
                                <p class="card-text">Dernière mise à jour : 10/03/2024</p>
                                <p class="card-text">Cette Politique de Confidentialité décrit comment vos informations personnelles sont collectées, utilisées et partagées lorsque vous visitez FindMe.</p>


                                <h5 class="card-text">Informations personnelles que nous collectons </h5>
                                <p class="card-text">Lorsque vous visitez le Service, nous collectons automatiquement certaines informations sur votre appareil, y compris des informations sur votre navigateur web, votre adresse IP, le fuseau horaire, et certains des cookies qui sont installés sur votre appareil. De plus, lorsque vous naviguez sur le Service, nous recueillons des informations sur les pages web ou les produits que vous consultez, les sites web ou les termes de recherche qui vous ont référé au Service, et comment vous interagissez avec le Service.</p>
                                <p class="card-text">Nous collectons des informations sur vous de différentes manières :</p>

                                <h5>Comment utilisons-nous vos informations personnelles ?</h5>
                                <p>Nous utilisons les informations collectées pour diverses raisons, notamment :</p>
                                <p>- Directement de vous : Lorsque vous vous inscrivez sur le Service, effectuez un achat, participez à notre newsletter, ou communiquez avec nous de toute autre manière, nous pouvons collecter les informations que vous fournissez, telles que votre nom, votre adresse e-mail, ou votre numéro de téléphone.</p>
                                <p>- Informations automatiquement collectées : Nous collectons automatiquement des informations sur votre utilisation du Service grâce à des cookies et des technologies similaires.</p>

                                <h5>Partage de vos informations personnelles</h5>
                                <p>Nous ne partageons vos informations personnelles avec aucun tiers, sauf dans les cas suivants :</p>
                                <p>- Fournir, exploiter et maintenir notre Service.</p>
                                <p>- Améliorer, personnaliser et élargir notre Service.</p>
                                <p>- Comprendre et analyser comment vous utilisez notre Service.</p>
                                <p>- Développer de nouveaux produits, services, fonctionnalités et fonctionnalités.</p>

                                <h5>Stockage de vos informations personnelles</h5>
                                <p>Vos informations personnelles sont stockées sur des serveurs sécurisés et ne seront pas transférées en dehors de France sans votre consentement.</p>

                                <h5>Sécurité</h5>
                                <p>La sécurité de vos informations personnelles est importante pour nous, mais rappelez-vous qu'aucune méthode de transmission sur Internet ou méthode de stockage électronique n'est sécurisée à 100 %. Bien que nous nous efforcions d'utiliser des moyens commercialement acceptables pour protéger vos informations personnelles, nous ne pouvons garantir leur sécurité absolue.</p>

                                <h5>Modifications de cette politique de confidentialité</h5>
                                <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment, veuillez donc la consulter fréquemment. Les modifications et clarifications prendront effet immédiatement après leur publication sur le site.</p>

                                <h5>Contactez-nous</h5>
                                <p>Pour toute question concernant cette politique de confidentialité, veuillez nous contacter à FindMe@gmail.com.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div  style=" height: 40px" class="card border-0"></div>
{% endblock body %}