{% extends 'partials/Base.twig' %}

{% block title %}Rechercher un profil{% endblock title %}

{% block body %}
    <div  style=" height: 40px" class="card border-0"></div>
    <div  class="container mt-3">
        <div style="background-color: #9FB4C7" class="card mb-3 border-dark" >
            <div class="row align-items-center">
                <div class=" col-4 col-sm-3 col-md-2 col-xl-1  mt-3 mb-3  ">
                    <div style="height: 100px;width: 100px" class="card border-dark ms-3  ">
                        <img src="/Bootstrap/images/bx-user%20(1).svg" class="img-fluid rounded-start border-dark " alt="test">
                    </div>
                </div>
                <div class="col-8 col-sm-9  col-md-8 col-xl-11 mb-3  ">
                    <div class="card-body pe-5 ">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-6  col-sm-6"></div>
                <div class="col-5 col-sm-4 ">
                    <button style="background-color: #28587B" type="button" class="btn btn-outline-light w-100 rounded-pill mt-3 mb-2 me-5 border-0">Details du Profil</button>
                </div>
                <div class=" col-1 "></div>
            </div>
        </div>
    </div>
    <div  class="container mt-3">
        <div style="background-color: #9FB4C7" class="card mb-3 border-dark" >
            <div class="row align-items-center">
                <div class=" col-4 col-sm-3 col-md-2 col-xl-1  mt-3 mb-3  ">
                    <div style="height: 100px;width: 100px" class="card border-dark ms-3  ">
                        <img src="/Bootstrap/images/bx-user%20(1).svg" class="img-fluid rounded-start border-dark " alt="test">
                    </div>
                </div>
                <div class="col-8 col-sm-9  col-md-8 col-xl-11 mb-3  ">
                    <div class="card-body pe-5 ">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-6  col-sm-6"></div>
                <div class="col-5 col-sm-4 ">
                    <button style="background-color: #28587B" type="button" class="btn btn-outline-light w-100 rounded-pill mt-3 mb-2 me-5 border-0">Details du Profil</button>
                </div>
                <div class=" col-1 "></div>
            </div>
        </div>
    </div>
    <div  class="container mt-3">
        <div style="background-color: #9FB4C7" class="card mb-3 border-dark" >
            <div class="row align-items-center">
                <div class=" col-4 col-sm-3 col-md-2 col-xl-1  mt-3 mb-3  ">
                    <div style="height: 100px;width: 100px" class="card border-dark ms-3  ">
                        <img src="/Bootstrap/images/bx-user%20(1).svg" class="img-fluid rounded-start border-dark " alt="test">
                    </div>
                </div>
                <div class="col-8 col-sm-9  col-md-8 col-xl-11 mb-3  ">
                    <div class="card-body pe-5 ">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-6  col-sm-6"></div>
                <div class="col-5 col-sm-4 ">
                    <button style="background-color: #28587B" type="button" class="btn btn-outline-light w-100 rounded-pill mt-3 mb-2 me-5 border-0">Details du Profil</button>
                </div>
                <div class=" col-1 "></div>
            </div>
        </div>
    </div>
    <div  class="container mt-3">
        <div style="background-color: #9FB4C7" class="card mb-3 border-dark" >
            <div class="row align-items-center">
                <div class=" col-4 col-sm-3 col-md-2 col-xl-1  mt-3 mb-3  ">
                    <div style="height: 100px;width: 100px" class="card border-dark ms-3  ">
                        <img src="/Bootstrap/images/bx-user%20(1).svg" class="img-fluid rounded-start border-dark " alt="test">
                    </div>
                </div>
                <div class="col-8 col-sm-9  col-md-8 col-xl-11 mb-3  ">
                    <div class="card-body pe-5 ">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-6  col-sm-6"></div>
                <div class="col-5 col-sm-4 ">
                    <button style="background-color: #28587B" type="button" class="btn btn-outline-light w-100 rounded-pill mt-3 mb-2 me-5 border-0">Details du Profil</button>
                </div>
                <div class=" col-1 "></div>
            </div>
        </div>
    </div>
    <div  class="container mt-3">
        <div style="background-color: #9FB4C7" class="card mb-3 border-dark" >
            <div class="row align-items-center">
                <div class=" col-4 col-sm-3 col-md-2 col-xl-1  mt-3 mb-3  ">
                    <div style="height: 100px;width: 100px" class="card border-dark ms-3  ">
                        <img src="/Bootstrap/images/bx-user%20(1).svg" class="img-fluid rounded-start border-dark " alt="test">
                    </div>
                </div>
                <div class="col-8 col-sm-9  col-md-8 col-xl-11 mb-3  ">
                    <div class="card-body pe-5 ">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-6  col-sm-6"></div>
                <div class="col-5 col-sm-4 ">
                    <button style="background-color: #28587B" type="button" class="btn btn-outline-light w-100 rounded-pill mt-3 mb-2 me-5 border-0">Details du Profil</button>
                </div>
                <div class=" col-1 "></div>
            </div>
        </div>
    </div>
    <div  class="container mt-3">
        <div style="background-color: #9FB4C7" class="card mb-3 border-dark" >
            <div class="row align-items-center">
                <div class=" col-4 col-sm-3 col-md-2 col-xl-1  mt-3 mb-3  ">
                    <div style="height: 100px;width: 100px" class="card border-dark ms-3  ">
                        <img src="/Bootstrap/images/bx-user%20(1).svg" class="img-fluid rounded-start border-dark " alt="test">
                    </div>
                </div>
                <div class="col-8 col-sm-9  col-md-8 col-xl-11 mb-3  ">
                    <div class="card-body pe-5 ">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-6  col-sm-6"></div>
                <div class="col-5 col-sm-4 ">
                    <button style="background-color: #28587B" type="button" class="btn btn-outline-light w-100 rounded-pill mt-3 mb-2 me-5 border-0">Details du Profil</button>
                </div>
                <div class=" col-1 "></div>
            </div>
        </div>
    </div>
    <div  style=" height: 40px" class="card border-0"></div>

{% endblock body %}