<footer class="footer mt-auto" style="background-color: #28587B;">
    <div class="container">
        <div class="row">
            <div style="background-color: #28587B; height: 20px" class="card border-0">
            </div>
            <div class="row">
                <div class="col-md-1 mt-3 mt-md-0 border-end border-light text-center">
                    <p><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                          href="{{ url_for("Page-d-accueil") }}">Menu</a></p>
                </div>
                <div class="col-md-3 mt-3 mt-md-0 border-end border-light text-center">
                    <p>
                        <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover texte"
                           href="{{ url_for("A-propos-de-FindMe") }}">À propos de FindMe</a></p>
                </div>
                <div class="col-md-4 mt-3 mt-md-0 border-end border-light text-center">
                    <p><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                          href="{{ url_for("Politique-de-confidentialité") }}">Politique de confidentialité</a></p>
                </div>
                <div class="col-md-4 mt-3 mt-md-0 text-center">
                    <p style="color: white">Contact : FindMe@gmail.com</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div style="background-color: #ffffff; height: 2px;" class="card mt-3"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="fs-6 text-center text-light fw-semibold mt-1">FindMe <img
                                src="/Bootstrap/images/c-circle.svg" class="img-fluid rounded-start text-center"
                                alt="test">2024</p>
                </div>
            </div>
        </div>
    </div>
</footer>